@media only screen and (max-width: 1200px) {
    .header {
    width: 800px;
}
    .container {
    margin: 0 auto;
    }
    .courage{
    left: 45px;
    top: 5px;
    }
    .phones {
        width: 560px;
    height: 40px;
    left: 224px;
    top: 20px;
    }
    .main-menu {
    left: 233px;
    }
    .slider {
        margin: 0;
    }
    .offers {
        width: 725px;
    }
    .offer {
        left: 163px;
    }
    .get-ofer {
        left: 168px;
    }
    .advant1 {
        left: 10px;
    }
    .advant2 {
        left: 344px;
    }
    .form {
        left: 24px;
        top: 64px;
    }
    .flooter1 {
        left: 27px;
    }
    .flooter2 {
        left: 310px;
    }
    .flooter3 {
        left: 413px;
    }
    .flooter4 {
        left: 530px;
    }
    .advantages,.sentence,.footer {
        width: 800px;
        height: 300px;
    }
    .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
}
    .tours {
        width: 800px;
        height: 300px;
        /*margin: 0 0 10px 281px;*/
    }
    .sentence {
        height: 200px;
    }
    .tour {
         width: 200px;
         background-color: maroon;
    }
    .advant {
         width: 200px;
        background-color: darkgoldenrod;
    }
    .yours-text {
        
    }
}




@media only screen and (max-width: 600px) {
    .header {
    width: 400px;
}
    .container {
    margin: 0 auto;
    }
    .courage{
    left: 7px;
    top: 5px;
    }
    .header {
        background-image: url(images/3b.png);
        height: 234px;
    }
    .phones {
    display: block;
    width: 300px;
    height:50px;
    left: 159px;
    top: 4px;
    font-size: 11px;
    }
    .street {
        width: 300px;
        display:block;
    }
    .img-nav{
        background-image: url(images/11a.png);
        width: 15x;
        height: 15px;
    }
    .img-tel {
        background-image: url(images/13a.png);
        width: 15x;
        height: 15px;
    }
    .icons1 {
        background-image: url(images/15a.png);
        width: 15px;
        height: 15px;
    }
    .icons2 {
        background-image: url(images/12a.png);
        width: 15px;
        height: 15px;
    }
    .main-menu {
        top: 78px;
        left: 4px;
        font-size: 12px;
    }
    .main-menu a {
        padding: 6px 10px;
        margin-left: 0px;
    }
    .offers {
        width: 350px;
        height: 70px;
        top: 127px;
    }
    .offer {
        font-size: 12px;
        width: 300px;
        height: 50px;
        left: 14px;
        top: 0px;
    }
    .get-ofer {
        left: 98px;
        top: 37px;
    }
    .button {
        padding: 4px 6px;
        font: 10px Arial, Helvetica, sans-serif;
    }
    .ellipse {
        top: 205px;
        left: 129px;
    }
    
   .radio-item {
        margin-left: 4px;
    }
    .slider {
        display: flex;
       max-width: 401px;
       margin: 30px 0px 24px 89px;
    }
    .tours {
       height: 225px;
    }
    .advantages {
        width: 400px;
        height: 480px;
    }
    .advant1 {
        background-image: url(images/1b.png);
        left: 54px;
        top: 25px;
    }
    .advant2 {
        width: 300px;
        height: 220px;
        top: 254px;
        left: 54px;
    }
    .advant2 p {
    font-size: 13px;
}
    .sentence {
        width: 400px;
        height: 200px;
    }
    
    .name, .e-mail, .number, .country {
        display: block;
        position: static;
    }
    .get-ofer1 {
        top: 115px;
        left: 20px;
        position: absolute;
    }
    .form {
        width: 200px;
        height: 167px;
        top: 20px;
        left: 99px;
    }
    .footer {
        width: 400px;
        height: 313px;
    } 
    .flooter1{
        width: 184px; 
        left: 33px;
        top: 9px;
        font-size: 9px;
    }
   .flooter1,.flooter2,.flooter3,.flooter24 {
       line-height: 1.1;
    }
    .flooter2{
        left: 274px;
        top: 3px;
    }
    .flooter3 {
        left: 28px;
        top: 200px;
    }
    .flooter4 {
        width: 184px; 
        left: 199px;
        top: 181px;
    }
    .tours {
        width: 400px;
        height: 243px;
        margin: 0 0 0px 100px;
    }
    .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    }
    .tours-txt a {
    margin-left: 20px;
    font-size: 15px;
    margin-left: 43px;
    }
    .tours-txt {
        padding-left: 0;
    }
    .slider {
    margin: 0px 0px 24px 0px;
    }
    }



@media only screen and (max-width: 320px){
    .tours {
    margin: 0px 0 0px 0px;
}
    .slider__wrapper {
    height: 200px;
    width: 800px;
}